<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <p>ERP Auto Login</p>
    <h1>Welcome!</h1>
    <% if(fail==1){ %>
        <h1>No profile exists! To create a new profile, click the link below:</h1>
    <%}else if(fail==2){ %>
        <h1>Profile Created!</h1>
    <%} %>
    <div id="options">
        <ul class="buttons">
            <li><a href="/create">Create New Profile</a></li>
            <li><a href="/activate">Use Existing Profile</a></li>
        </ul>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>